#slider_container {
	background-image: url("images/slider-background.jpg");
	background-position: top center;
	background-repeat: no-repeat;
	margin: 0 auto;
}

#slider_container ul {
	margin: 0;
	padding: 0;
}

#slider_container a.title {
	display: block;
	margin: 10px;
	text-transform: uppercase;
	font-size: 36px;
	line-height: 36px;
	color: #FFFFFF;
}

#slider_container a.title:HOVER {
    text-decoration: none;
}

#slider_container .caption {
	color: #FFFFFF;
    font-size: 18px;
}

#slider_container img {
	float: right;
    margin: 10px;
	max-width: 270px;
	max-height: 180px;
}


.jssorn01 div,.jssorn01 div:hover,.jssorn01 .av {
	filter: alpha(opacity = 70);
	opacity: .7;
	overflow: hidden;
	cursor: pointer;
	border: #000 1px solid;
}

.jssorn01 div {
	background-color: gray;
}

.jssorn01 div:hover,.jssorn01 .av:hover {
	background-color: #d3d3d3;
}

.jssorn01 .av {
	background-color: #fff;
}

.jssorn01 .dn,.jssorn01 .dn:hover {
	background-color: #555555;
}


.jssord05l,.jssord05r,.jssord05ldn,.jssord05rdn {
	position: absolute;
	cursor: pointer;
	display: block;
	background-image: url("images/slider-navigation.png");
	background-repeat: no-repeat;
	overflow: hidden;
}

.jssord05l {
	background-position: -10px -40px;
}

.jssord05r {
	background-position: -70px -40px;
}

.jssord05l:hover {
	background-position: -130px -40px;
}

.jssord05r:hover {
	background-position: -190px -40px;
}

.jssord05ldn {
	background-position: -250px -40px;
}

.jssord05rdn {
	background-position: -310px -40px;
}