//
// Proto CNS - Custom properties
// --------------------------------------------------


// Core variables and mixins
@import "bootstrap/bootstrap.less";

// Menu
@import "proto-cns/menu.less";
// Picturebook
@import "proto-cns/picturebook.less";



// Header

header {
    margin-bottom: @line-height-computed;
    
    background-color: #fcfcfc;
    
    .banner {
        position: relative;
        
        .header-line {
            position: absolute;
            bottom: 16px;
            left: 260px;
            right: 0;
            height: 16px;
            width: auto;
            z-index: -1; 
            
            background-color: @brand-primary;
        }
        
        #search {
            margin-top: @line-height-computed;
        }
    }
    
    h1 {
        color: @gray;
    }
    
    .tabs-default {
        margin: 0 floor(@grid-gutter-width / -2);
        padding: 0 floor(@grid-gutter-width / 2);
    }
}



// Footer

footer {
    margin-bottom: @line-height-computed;    
}
