<?xml version="1.0" encoding="UTF-8"?>
<beans
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:util="http://www.springframework.org/schema/util"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context 
                           http://www.springframework.org/schema/context/spring-context.xsd
                           http://www.springframework.org/schema/mvc
                           http://www.springframework.org/schema/mvc/spring-mvc.xsd
                           http://www.springframework.org/schema/util
                           http://www.springframework.org/schema/util/spring-util.xsd">


    <bean class="org.springframework.web.portlet.mvc.annotation.DefaultAnnotationHandlerMapping" />


	<context:component-scan base-package="com.osivia.cns.proto.ldap.entite" />
    <context:annotation-config />
    
	<context:property-placeholder
    	location="classpath:/annuaire_source_mapping.properties"></context:property-placeholder>

	<bean id="contextSourceLecture" class="org.springframework.ldap.core.support.LdapContextSource">
		<property name="url" value="${ldapSource.url}" />
		<property name="base" value="${ldapSource.base}" />
		<property name="userDn" value="${ldapSource.manager.dn}" />
		<property name="password" value="${ldapSource.manager.pswd}" />
		<property name="pooled" value="true"/>
		<property name="baseEnvironmentProperties">
			<map>
				<entry key="com.sun.jndi.ldap.connect.timeout" value="${ldapSource.timeout}" />
			</map>
		</property>
	</bean>
	

	<bean id="ldapTemplateLecture" class="org.springframework.ldap.core.LdapTemplate">
		<qualifier value="ldapTemplateLecture"/>
		<constructor-arg ref="contextSourceLecture" />
	</bean>
	
	<bean id="personneCnsDao" class="com.osivia.cns.proto.ldap.dao.PersonneCNSDao">
		<property name="givenName" value="${personneCnsDao.givenName}" />
		<property name="displayName" value="${personneCnsDao.displayName}" />
		<property name="sn" value="${personneCnsDao.sn}" />
		<property name="cn" value="${personneCnsDao.cn}" />
		<property name="uid" value="${personneCnsDao.uid}" />
		
		<property name="categorie" value="${personneCnsDao.categorie}" />
		<property name="classObjet" value="${personneCnsDao.classObjet}" />
		<property name="BASE_DN" value="${ldapSource.base}" />
		
		<property name="mail" value="${personneCnsDao.mail}" />
		
		
	</bean>
	
	<bean id="feeder" class="com.osivia.cns.proto.ldap.Feeder"></bean>
	
	<util:map id="profilesMapping">
		<entry key="cn=pilotage-cns,ou=entites,ou=groupes,dc=menesr,dc=gouv,dc=fr">
			
		</entry>
		<entry key="cn=itil,ou=entites,ou=groupes,dc=menesr,dc=gouv,dc=fr">
			<value>crt-itil</value>
		</entry>
	</util:map>
	
</beans>