//
// Charte des forums CNS
// -----------------------------------------------------


// Bootstrap
@import "bootstrap/bootstrap.less";

// Tabs
@import "cns/tabs.less";
// Workspace tiles
@import "cns/workspace-tiles.less";


header {
    &, &.jumbotron {
        color: #fff;
        background-color: @brand-primary;
    }
    
    &.jumbotron {
        border-bottom-style: solid;
        border-width: 1px;
        border-color: darken(@brand-primary, 3%); 
        
        img {
            max-height: 120px;
        }
    }
    
    &:not(.jumbotron) {
        padding-top: floor(@line-height-computed / 2);
    }
}


main {
    @media screen and (min-width: @screen-sm-min) {
        margin-top: @line-height-computed;
    }
}


.content-navbar {
    @media screen and (min-width: @screen-sm-min) {
        background-color: @navbar-default-bg;
        border-color: darken(@navbar-default-bg, 10%);
        
        #gradient .vertical(@start-color: @navbar-default-bg; @end-color: darken(@navbar-default-bg, 5%));
    }
}
