//
// OSIVIA Demo - Custom properties
// --------------------------------------------------


// Bootstrap
@import "bootstrap/bootstrap.less";




// Body

body {
    background-image: url('../img/background.png');
    background-repeat: no-repeat;
    background-position: 125px 60px;
}



// Header

header {
    margin-bottom: @padding-small-vertical;
    
    .banner {
        position: relative;
        
        .header-line {
            position: absolute;
            bottom: 16px;
            left: 260px;
            right: 0;
            height: 16px;
            width: auto;
            z-index: -1; 
            
            background-color: @brand-primary;
        }
        
        #search {
            margin-top: @line-height-computed;
        }
    }
}



// Page content

#page-content {
    margin-bottom: @line-height-computed;
}



// Content navbar

.content-navbar {
    margin-bottom: @padding-small-vertical;
}



// Footer

footer {
    margin-bottom: @line-height-computed;    
}



// Picture Book

@picture-height: 100px;

.picture-book {
    .picture {
        position: relative;
        height: @picture-height + 2 * @thumbnail-padding + 2px;
        
        .thumbnail {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            
            margin: 0;
            
            img {
                max-height: @picture-height;
            }
        }
    }
    
    p {
        padding-top: @padding-small-vertical;
        padding-bottom: @padding-large-vertical;
        
        .text-overflow();
    }
}
