//
// OSIVIA Demo - Custom properties
// --------------------------------------------------


// Bootstrap
@import "bootstrap/bootstrap.less";

// Picturebook
@import "demo/picturebook.less";



// Body

body {
    background-image: url('../img/background.png');
    background-repeat: no-repeat;
    background-position: 125px 60px;
}



// Header

header {
    margin-bottom: @line-height-computed;
    
    .banner {
        position: relative;
        
        .header-line {
            position: absolute;
            bottom: 16px;
            left: 260px;
            right: 0;
            height: 16px;
            width: auto;
            z-index: -1; 
            
            background-color: @brand-primary;
        }
        
        > .search {
            margin-top: @line-height-computed;
        }
    }
}



// Drawer

@media screen and (max-width: @screen-xs-max) {
    .wrapper-outer {
        padding-top: @navbar-height;
    }
}



// Page content

#page-content {
    margin-bottom: @line-height-computed;
    
    @media screen and (max-width: @screen-xs-max) {
        padding-top: @padding-small-vertical;
    }
}
