body {
    background-image: url('images/background.png');
    background-repeat: no-repeat;
    background-position: 125px 40px;
}

header, section, footer {
    margin-bottom: 20px;
}


a.osivia-link-external {
    background-image: url("images/lien-externe.png");
    background-repeat: no-repeat;
    background-position: right 2px;
    padding-right: 15px;
}



/* Header */

#banner {
    position: relative;
    overflow: hidden;
}

#logo .osivia {
    position: absolute;
    left: 0;
    display: block;
}

#logo .barre {
    position: absolute;
    right: 0;
    display: block;
    background-image: url("images/barre.png");
    background-repeat: repeat-x;
    height: 16px;
    width: auto;
}

@media screen and (min-width: 768px) {
    #banner {
        height: 80px;
    }
    
    #logo .osivia {
        bottom: 2px;
        background-image: url("images/logo.png");
        height: 70px;
        width: 254px;
    }
    
    #logo .barre {
        left: 260px;
        bottom: 8px;
    }
}

@media screen and (max-width: 767px) {
    header {
        height: 0;
        margin-bottom: 0;
    }
}

#search {
    margin-top: 10px;
}
